[submodule "animeloop-cli"]
	path = animeloop-cli
	url = https://github.com/moeoverflow/animeloop-cli.git
[submodule "webapp/modules/lazy-load-xt"]
	path = webapp/modules/lazy-load-xt
	url = https://github.com/ressio/lazy-load-xt.git
[submodule "webapp/modules/miminium"]
	path = webapp/modules/miminium
	url = https://github.com/akivaron/miminium.git
[submodule "webapp/modules/share.js"]
	path = webapp/modules/share.js
	url = https://github.com/overtrue/share.js.git
[submodule "webapp/modules/pressure"]
	path = webapp/modules/pressure
	url = https://github.com/stuyam/pressure.git
[submodule "webapp/modules/animate.css"]
	path = webapp/modules/animate.css
	url = https://github.com/daneden/animate.css.git
[submodule "webapp/modules/js-cookie"]
	path = webapp/modules/js-cookie
	url = https://github.com/js-cookie/js-cookie.git
