<nav class="navbar navbar-default header navbar-fixed-top">
  <div class="col-md-12 nav-wrapper">
    <div class="navbar-header" style="width:100%;">
      <div class="opener-left-menu is-closed">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>
      <a href="/" class="navbar-brand">
        <b>Animeloop</b>
      </a>

      <ul class="nav navbar-nav navbar-right user-nav">
        <li class="dropdown languages">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%- __('language') %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% __h('language').forEach((lang) => {
              let key = Object.keys(lang)[0]
            %>
            <li><a href="" onclick='Cookies.set("locale", "<%- key %>");'><%- lang[key] %></a></li>
            <% }); %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
