<div class="container-fluid mimin-wrapper">
    <div id="left-menu">
        <div class="sub-left-menu scroll" style="overflow: hidden; outline: none; width: 0px; display: none;">
            <%- include('menu-list') %>
        </div>
    </div>
</div>