#left-menu {
  ul.nav.nav-list {
    .logo {
      margin: 0 auto;
      text-align: center;

      img {
        width: 75%;
      }
    }
  }
}

#mimin-mobile {
  ul.nav.nav-list {
    .logo {
      display: none;
    }
  }
}

#content {
  .path-navigator {
    background-color: transparent;
  }

  .loop-card {
    .panel-body {
      padding: 0;
    }

    .panel-footer {
      padding: 5px 7.5px;

      .info {
        padding: 0;
        margin: 0;

        li {
          font-size: 10px;
        }

        .title {
        }
      }
    }

    .video-container {
      display: grid;
    }

    .modal {
      width: 80%;
      margin: 0 auto;
    }
    .modal.stay {
      width: 100%;
    }
  }
}