#left-menu {
  ul.nav.nav-list {
    .logo {
      margin: 0 auto;
      text-align: center;

      img {
        width: 75%;
      }
    }
  }
}

#mimin-mobile {
  ul.nav.nav-list {
    .logo {
      display: none;
    }
  }
}

#content {
  .path-navigator {
    background-color: transparent;
  }

  .video-container {
    display: grid;
  }

  .loop-card {
    .panel-body {
      padding: 0;
    }

    .panel-footer {
      padding: 5px 7.5px;

      .info {
        padding: 0;
        margin: 0;

        li {
          font-size: 10px;
        }

        .title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .modal {
      width: 80%;
      margin: 56px auto 0 auto;

      .modal-dialog {
        video {
          -webkit-border-radius: 0.5em !important;
          -moz-border-radius: 0.5em !important;
          border-radius: 0.5em !important;
        }

        button {
          width: 100%;
          font-size: large;
          height: 2.8em;
          margin: 0.2em 0;
        }

        button .hide {
          display: none;
        }

        .video-container, button {
          -webkit-border-radius: 0.5em !important;
          -moz-border-radius: 0.5em !important;
          border-radius: 0.5em !important;
        }
      }
    }
    .modal.stay {
      width: 100%;
    }
  }

  .list-series {
    .card {
      padding: 0;
      height: 180px;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      .title {
        position: absolute;
        bottom: 50%;
        left: 50%;
        color: white;
        font-size: 2em;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 50%);
      }
    }

    .item {
      .topcover {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  .list-episodes {
    .item {
      min-height: 222px;

      .cover {
        height: 100%;

        img {
          max-height: 100%;
          max-width: 100%;
        }
      }

      .genres {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        li {
          float: left;
          padding: 8px 16px 8px 0;
          margin: 0;
        }
      }

      .entry {
        div {
          padding: 8px;
        }
      }
      @media (max-width: 768px) {
        .entry {
          margin-left: 0;
        }
      }
    }
  }

  .series {
    .cover {
      margin: 0 auto;
      display: grid;
    }

    .title {
      margin-top: 0;
    }

    .genres {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

      li {
        float: left;
        padding: 8px 16px 8px 0;
        margin: 0;
      }
    }
  }

  .loop {
    .path-navigator {
      margin-bottom: 0;
    }

    @media (max-width: 768px) {
      .content {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;


        .video {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}