#content {
  .loop-cards {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    grid-gap: 0em 1em;

    @media (min-width: 992px) {
      grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    }

    @media (max-width: 768px) {
      grid-template: repeat(6, 1fr) / repeat(2, 1fr);
    }

    padding-right: 10px;
    padding-left: 10px;

    @media (max-width: 768px) {
      -moz-user-select: none;
      -ms-user-select: none;
      -ktml-user-select: none;
      -webkit-user-select: none;
      -webkit-touch-callout: none;
    }
  }

  .loop-card {
    padding-right: 5px;
    padding-left: 5px;

    .panel-body {
      padding: 0;

      .video-cover {
        width: 100%;
      }

      .video-container {
        display: none;

        video {
          vertical-align: middle;
        }
      }
    }

    .panel-footer {
      padding: 5px 7.5px;

      .info {
        padding: 0;
        margin: 0;

        li {
          font-size: 10px;
        }

        .title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .modal {
      width: 80%;
      margin: 56px auto 0 auto;

      .modal-dialog {
        video {
          -webkit-border-radius: 0.5em !important;
          -moz-border-radius: 0.5em !important;
          border-radius: 0.5em !important;
        }

        button {
          width: 100%;
          font-size: large;
          height: 2.8em;
          margin: 0.2em 0;
        }

        button .hide {
          display: none;
        }

        .video-container, button {
          -webkit-border-radius: 0.5em !important;
          -moz-border-radius: 0.5em !important;
          border-radius: 0.5em !important;
        }
      }
    }
    .modal.stay {
      width: 100%;
    }
  }
}