#content {
  .loop.details.panel {
    .path-navigator {
      margin-bottom: 0;
    }

    .files .files-container .file-item {
      padding-left: 0;
    }

    .share {
      margin-top: 3rem;
    }

    @media (max-width: 768px) {
      .content {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;


        .video {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  .loop.tags-illus2vec.panel {
    .tag-name, .tag-confidence {
      padding: 0;
    }

    .from small {
      float: right;
    }
  }
}