#content {
  .list-series {
    .card {
      padding: 0;
      height: 180px;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      .title {
        text-align: center;
        width: 75%;
        position: absolute;
        bottom: 50%;
        left: 50%;
        color: white;
        font-size: 2em;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 50%);
      }
    }

    .item {
      .topcover {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
      }
    }

    .pagination-button {
      .title {
        font-size: 4em;
      }
    }
  }
}