#content {
  .loop-card {
    padding: 10px;

    .panel {
      .panel-body {
        .loop-gif-responsive {
          position: relative;
          width: 100%;
          height: 0;
          padding-bottom: 56.25%;
          background: black;

          .loop-gif {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }

    .panel, .panel-body {
      padding: 0;
      margin: 0;
    }

    .panel-footer {
      padding: 5px 7.5px;

      .info {
        padding: 0;
        margin: 0;

        li {
          font-size: 10px;
        }

        .title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .modal {
      width: 80%;
      margin: 56px auto 0 auto;

      .modal-dialog {
        video {
          -webkit-border-radius: 0.5em !important;
          -moz-border-radius: 0.5em !important;
          border-radius: 0.5em !important;
        }

        button {
          width: 100%;
          font-size: large;
          height: 2.8em;
          margin: 0.2em 0;
        }

        button .hide {
          display: none;
        }

        .video-container, button {
          -webkit-border-radius: 0.5em !important;
          -moz-border-radius: 0.5em !important;
          border-radius: 0.5em !important;
        }
      }
    }
    .modal.stay {
      width: 100%;
    }
  }
}