<div class="loop-card col-md-3">
    <div class="panel panel-default">
        <div class="panel-body">
            <img class="gif" src="<%- loop.imageUrl %>">
        </div>
        <div class="panel-footer">
            <ul class="info">
                <li class="title"><%- loop.title %></li>
                <li class="period"><%- loop.period %></li>
            </ul>
        </div>
    </div>
</div>