<!-- Loop card modal -->
<div class="modal fade" id="modal-loop-<%- loop._id %>" tabindex="-1" role="dialog" aria-labelledby="loop-<%- loop._id %>" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="video-container" loop-id="<%- loop._id %>"></div>
    </div>
  </div>
  <div class="modal-dialog" role="document">
    <button type="button" class="btn btn-default modal-content button hide fav-button">Panzer Vor!</button>
  </div>
  <div class="modal-dialog" role="document">
    <button type="button" class="btn btn-default modal-content button hide goto-button" onclick="window.location = '/loop/<%- loop._id %>';">Go to detail page</button>
  </div>
</div>