<!DOCTYPE html>
<html>
<body>

<style type="text/css">
  video {
    width:100%;
    max-width:600px;
    height:auto;
  }
</style>

<%- include('video-container', {
  video: {
    cover: loop.files.jpg_1080p,
    mp4: loop.files.mp4_1080p,
    autoplay: true,
    preload: true,
    lazyload: false
  }
}) %>

</body>
</html>
